    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="/">Layanan Servis Motor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li id="nav-register" class="nav-item">
            <a class="nav-link" href="/register">Registrasi</a>
          </li>
          <li id="nav-login" class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li id="nav-order" class="nav-item">
            <a class="nav-link" href="/pesan-servis">Pesan servis</a>
          </li>
          <li id="nav-history" class="nav-item">
            <a class="nav-link" href="/riwayat">Riwayat</a>
          </li>
          <li id="nav-logout" class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <li id="nav-repositories" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Repositori
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://gitlab.com/advprog-c11/lsm"
                >Backend</a
              >
              <a
                class="dropdown-item"
                href="https://gitlab.com/advprog-c11/lsm-frontend/"
                >Frontend</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
